<div class="page-container">
  <!-- First section -->
  <div class="registration-container">
    <h2>Registration Form</h2>
    <form [formGroup]="registrationForm">
      <!-- Name Field -->
      <div>
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          formControlName="name"
          required
        />
        <div *ngIf="registrationForm.get('name')?.touched && registrationForm.get('name')?.invalid">
          <small class="error" *ngIf="registrationForm.get('name')?.errors?.['required']">
            Name is required.
          </small>
        </div>
      </div>
  
      <!-- Date of Birth Field -->
      <div>
        <label for="dob">Date of Birth</label>
        <input
          type="date"
          id="dob"
          name="dob"
          formControlName="dob"
          required
        />
        <div *ngIf="registrationForm.get('dob')?.touched && registrationForm.get('dob')?.invalid">
          <small class="error" *ngIf="registrationForm.get('dob')?.errors?.['required']">
            Date of Birth is required.
          </small>
        </div>
      </div>
  
      <!-- Email Field -->
      <div>
        <label for="email">Email ID</label>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          required
        />
        <div *ngIf="registrationForm.get('email')?.touched && registrationForm.get('email')?.invalid">
          <small class="error" *ngIf="registrationForm.get('email')?.errors?.['required']">
            Email is required.
          </small>
          <small class="error" *ngIf="registrationForm.get('email')?.errors?.['email']">
            Invalid email format.
          </small>
        </div>
      </div>
  
      <!-- Password Field -->
      <div>
        <label for="password">Password</label>
        <div class="password-container">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            id="password"
            formControlName="password"
            required
          />
          <div class="checkbox-container">
            <input
              type="checkbox"
              id="showPassword"
              [(ngModel)]="passwordVisible"
              [ngModelOptions]="{ standalone: true }"
            />
            <label for="showPassword">Show Password</label>
          </div>
        </div>
        <div *ngIf="registrationForm.get('password')?.touched && registrationForm.get('password')?.invalid">
          <small class="error" *ngIf="registrationForm.get('password')?.errors?.['required']">
            Password is required.
          </small>
          <small class="error" *ngIf="registrationForm.get('password')?.errors?.['minlength']">
            Password must be at least 8 characters long.
          </small>
          <small class="error" *ngIf="registrationForm.get('password')?.errors?.['pattern']">
            Password must contain uppercase, lowercase, number, and special character.
          </small>
        </div>
      </div>
  
      <!-- User Role Field -->
      <div>
        <label for="userRole">User Role</label>
        <select id="userRole" name="userRole" formControlName="userRole" (change)="onUserRoleChange()" required>
          <option value="" disabled>Select User Role</option>
          <option value="Teacher">Teacher</option>
          <option value="Youth">Youth</option>
          <option value="HT & Official">HT & Official</option>
        </select>
        <div *ngIf="registrationForm.get('userRole')?.touched && registrationForm.get('userRole')?.invalid">
          <small class="error" *ngIf="registrationForm.get('userRole')?.errors?.['required']">
            User Role is required.
          </small>
        </div>
      </div>

      <!-- Sub User Role Field (conditionally enabled) -->
      <div *ngIf="isSubRoleEnabled">
        <div class="sub-role-container">
          <label>Select Sub User Role</label>
    
          <select
            multiple
            formControlName="subUserRole"
            class="multi-select-dropdown"
            (change)="getSelectedSubRoles()"
          >
            <option *ngFor="let role of officialRoles" [value]="role">{{ role }}</option>
          </select>
        </div>
      
        <!-- Validation message if no sub-role is selected -->
        <div *ngIf="isHTOfficialRoleSelected && !hasSelectedSubRole">
          <small class="error">Please select at least one sub-role for HT & Official.</small>
        </div>
      </div>
  
      <!-- UDISE Code Field -->
      <div>
        <label for="udise">UDISE Code</label>
        <div class="input-button-container">
          <input
            type="number"
            id="udise"
            name="udise"
            formControlName="udise"
            required
          />
          <button class="btn btn-primary btn-sm" (click)="fetchLocationData()" style="width: 100px;"
          [disabled]="!registrationForm.get('udise')?.value || otpGenerated || otpVerified || isVerifyOtpEnabled">
            Verify
          </button>
        </div>
        <div *ngIf="registrationForm.get('udise')?.touched && registrationForm.get('udise')?.invalid">
          <small class="error" *ngIf="registrationForm.get('udise')?.errors?.['required']">
            UDISE code is required.
          </small>
        </div>
      </div>
      
      <!-- Generate otp -->
      <div *ngIf="isGenerateOtpEnabled">
        <button (click)="generateOTP()" style="width: 200px;" [disabled]="isVerifyOtpEnabled">
          Generate OTP
        </button>
      </div>

      <!-- Verify otp -->
      <div *ngIf="isGenerateOtpEnabled && isVerifyOtpEnabled">
        <label for="udise">Enter OTP</label>
        <div class="input-button-container">
          <input
            type="number"
            id="otp"
            name="otp"
            formControlName="otp"
            required
          />
          <button class="btn btn-primary btn-sm" (click)="verifyOTP()" style="width: 100px;" >
            Verify OTP
          </button>
        </div>
        <div *ngIf="registrationForm.get('otp')?.touched && registrationForm.get('otp')?.invalid">
          <small class="error" *ngIf="registrationForm.get('otp')?.errors?.['required']">
            OTP is required.
          </small>
        </div>
      </div>
  
      <button 
        type="submit" 
        [disabled]="registrationForm.invalid || (registrationForm.get('userRole')?.value === 'HT & Official' && !hasSelectedSubRole)" 
        (click)="onSubmit()">
        Register
      </button>

    </form>
  </div>

  <!-- Second Section: Display Data -->
  <div class="data-container">
    <h3>Location Data</h3>
    <div *ngIf="locationdata">
      <p><strong>State Name:</strong> {{ locationdata.state?.name }}</p>
      <p><strong>District Name:</strong> {{ locationdata.district?.name }}</p>
      <p><strong>Block Name:</strong> {{ locationdata.block?.name }}</p>
      <p><strong>Cluster Name:</strong> {{ locationdata.cluster?.name }}</p>
      <p><strong>School Name:</strong> {{ locationdata.school?.name }}</p>
    </div>
  </div>
</div>
